apiVersion: v1
kind: Service
metadata:
  name: tictactoe-service
  labels:
    app: tictactoe-app
    component: service
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: tictactoe-app
  sessionAffinity: None
